{{>head
    con = "false"
    banner="/img/fondo-parcial-img-4.jpg"
    text1="Nuestro Blog"
    text2=""
    section="blog"
}}

<div id="blog-content" class="container-fluid">
    <div class="container">

        <div id="block-1" class="row pb-5 animalo" data-animate-effect="fadeIn">
            <div class="col-12 col-lg-4">
                <h3 class="article__title">Tamizaje Neonatal.</h3>
                <div class="article__info">
                    <h6 class="article__author">Dra. Roxana Tobar Hércules</h6>
                    <p class="author__title">Pediatra Neonatóloga</p>
                    <p class="article__date">Marzo 01 2022</p>
                </div>
                <p>Es una prueba de laboratorio que debe realizarse a todo recién nacido para identificar a aquellos que están en riesgo de pade- cer desórdenes metabólicos serios que son tratables, pero que no son visibles al momento de su nacimiento.</p>
                <p>Su objetivo principal es descubrir y tratar oportunamente enfermedades graves e irreversibles que no se pueden detectar al nacimiento, ni siquiera con una revisión médica muy cuidadosa.</p>

            </div>
            <div id="img" class="col-12 col-lg-8 animalo" data-animate-effect="fadeInUp">
                <img class="_shadow-bg-light-l" src="/img/blog/img01-art02.jpg" alt="ingreso">
                <div class="creditos">
                    <a href='https://www.freepik.es/fotos/personas' target="_blank">Foto de Personas creado por jcomp - www.freepik.es</a>
                </div>
            </div>
        </div>

        <div class="contenedor animalo" data-animate-effect="fadeIn">
            <p>Uno de cada mil recién nacidos, "aparentemente sanos", tiene en forma latente una enfermedad de consecuencias graves e irreversibles (como retraso mental o incluso la muerte) que se manifestará semanas o meses después de haber nacido.</p>
            <p>Afortunadamente, hoy en día existe la oportunidad de detectar estos padecimientos a tiempo, es decir, cuando aún no se ha presentado el daño, lo cual permite prevenirlo.</p>
            <p>El descubrir y tratar desórdenes a tiempo y antes de que se manifiesten puede evitar muchas complicaciones serias. Afortu- nadamente existen tratamientos para prevenir o reducir conside- rablemente los efectos que éstos desórdenes metabólicos pueden causar a tu bebé.</p>
        </div>

        <div id="block-2" class="row pb-5 animalo" data-animate-effect="fadeIn">
            <div class="col-12 col-lg-4">
                <h5>¿Cuándo debes practicarle el tamizaje a tu bebé?</h5>
                <p>Idealmente se recomienda esta prueba a tu bebé entre el tercer y séptimo día de nacido, de no ser posible en este tiempo, se recomienda realizarlo antes de que cumpla 30 días de nacido.</p>
                <p>Recuerda que esta es una prueba de prevención cuyo objetivo es apoyar la salud y calidad de vida de tu bebé, mediante el descubrimiento y tratamiento oportuno.</p>
            </div>
            <div id="img" class="col-12 col-lg-8 order-lg-first animalo" data-animate-effect="fadeInUp">
                <img class="_shadow-bg-light-l" src="/img/blog/img02-art02.jpg" alt="salida">
                <div class="creditos">
                    <a href='https://www.freepik.es/fotos/personas' target="_blank">Foto de Personas creado por cookie_studio - www.freepik.es</a>
                </div>
            </div>
        </div>


    </div>
</div>