{{>head
    con = "false"
    banner="/img/fondo-parcial-img-4.jpg"
    text1="Nuestro Blog"
    text2=""
    section="blog"
}}

    <div id="blog-content" class="container-fluid">
        <div class="container">

            <div id="block-1" class="row pb-5 mb-5 animalo" data-animate-effect="fadeIn">
                <div class="col-12 col-lg-4">
                    <h3 class="article__title">Cuidado del recién nacido para padres primerizos.</h3>
                    <div class="article__info">
                        <h6 class="article__author">Dra. Roxana Tobar Hércules</h6>
                        <p class="author__title">Pediatra Neonatóloga</p>
                        <p class="article__date">Marzo 01 2022</p>
                    </div>
                    <p>De las principales recomendaciones para el cuidado del recién nacido está el cuidado del cordón umbilical, pero ¿cómo podemos cuidarlo?. Para cuidarlo debemos seguir los siguientes pasos.</p>
                    <ol>
                        <li>Lava tus manos.</li>
                        <li>Toma una gasa estéril por las 4 puntas, de forma que nuestros dedos no toquen la parte central de la gasa.</li>
                        <li>Impregna la zona central de la gasa con alcohol 90.</li>
                        <li>Limpia la base del ombligo con un movimiento de rotación alrededor del mismo.</li>
                        <li>luego debe ser cubierto con una gasa estéril seca, no es nece- sario colocar fajero.</li>
                    </ol>
                </div>
                <div id="img" class="col-12 col-lg-8 animalo" data-animate-effect="fadeInUp">
                    <img class="_shadow-bg-light-l" src="/img/blog/img01-art01.jpg" alt="ingreso">
                </div>
            </div>
    
            <div id="block-2" class="row pb-5 mb-5 animalo" data-animate-effect="fadeIn">
                <div class="col-12 col-lg-4">
                    <p>Otros de los principales cuidados son la limpieza nasal y ocular esta se debe realizar solo con solución salina, con respecto a la limpieza de oídos NO debe hacerse uso de hisopos, ya que pueden dañar el oído del recién nacido, la limpieza de oídos es completamente de forma externa.</p>
                    <p>La vestimenta del recién nacido es un aspecto muy importante, ya que se tiene que cuidar no sobre vestirlos en climas calurosos, ya que esto podría producir calenturas.</p>
                </div>
                <div id="img" class="col-12 col-lg-8 order-lg-first animalo" data-animate-effect="fadeInUp">
                    <img class="_shadow-bg-light-l" src="/img/blog/img02-art01.jpg" alt="salida">
                </div>
            </div>

            <div id="block-3" class="row pb-5 animalo" data-animate-effect="fadeIn">
                <div class="col-12 col-lg-4">
                    <p>Las visitas a los recién nacidos en tiempos de pandemia se reco- mienda efectuarlas después de los 3 meses de nacidos, ya que el bebé se encuentra inmaduro de su sistema inmunológico y tiene el riesgo de contraer enfermedades de forma más rápida.</p>
                </div>
                <div id="img" class="col-12 col-lg-8 animalo" data-animate-effect="fadeInUp">
                    <img class="_shadow-bg-light-l" src="/img/blog/img03-art01.jpg" alt="ingreso">
                </div>
            </div>
    
        </div>
    </div>