    {{>head
        con = "false"
        banner="/img/fondo-parcial-img-1.jpg"
        text1="servicios"
        text2="Unidad de emergencias."
        section="servicios"
    }}

    <div id="servicios" class="container-fluid">
        <div class="container">

                <div id="u-emergencias" class="row animalo" data-animate-effect="fadeIn">
                    <div class="col-12 col-lg-4">
                        <h1>Unidad de Emergencia</h1>
                        <p>Porque nunca sabemos cuándo se dará una emergencia. Hospital Farela está capacitado con un profesional en medicina familiar quien puede recibir el caso y de ser necesario referir el paciente a un especialista.<br><br>
                            Nuestro grupo de médicos de especialidades: Cirujanos, Internistas, Urólogos, Ginecólogos, Otorrinolaringólogos, Pediatras, Ortopedas, Gastroenterólogos, Cardiólogos, Endocrinólogos que pueden responder en la atención de la emergencia..</p>
                    </div>
                    <div id="img" class="col-12 col-lg-8">
                        <img class="_shadow-bg-light-l" src="/img/servicios/Unidad_de_emergencias.jpeg" alt="ingreso">
                    </div>
                </div>

        </div>
    </div>

    <script>

        setTimeout(() => {
            _linkActive("._link-emergencias", "._link-servicios");
        }, 500);

    </script>