    {{>head
        con = "false"
        banner="/img/fondo-parcial-img-1.jpg"
        text1="servicios"
        text2="Unidad de Recuperación."
        section="servicios"
    }}

    <div id="servicios" class="container-fluid">
        <div class="container">

                <div id="u-emergencias" class="row animalo" data-animate-effect="fadeIn">
                    <div class="col-12 col-lg-4">
                        <h1>Unidad de Recuperación</h1>
                        <p>Es un área especializada del hospital, fuera del quirófano, que permite descansar al paciente mientras reacciona después de una operación y mientras completa una estabilidad adecuada de salud para ser trasladado finalmente a un habitación donde completará completamente el proceso recuperativo de su intervención.<br><br>
                            De igual forma permite estabilizar aquellos pacientes que son ambulatorios, quienes no pasan por habitación y van del quirófano a alta médica. De igual forma aquellos pacientes que padecen de una enfermedad que no necesita ser hospitalizado, a estos se les denominan ambulatorios.</p>
                    </div>
                    <div id="img" class="col-12 col-lg-8">
                        <img class="_shadow-bg-light-l" src="/img/servicios/unidad_recuperacion.jpeg" alt="unidad_recuperacion">
                    </div>
                </div>

        </div>
    </div>

    <script>

        setTimeout(() => {
            _linkActive("._link-recuperacion", "._link-servicios");
        }, 500);

    </script>