    {{>head
        con = "false"
        banner="/img/fondo-parcial-img-1.jpg"
        text1="servicios"
        text2="Clínica de consulta externa."
        section="servicios"
    }}

    <div id="servicios" class="container-fluid">
        <div class="container">

                <div id="u-emergencias" class="row animalo" data-animate-effect="fadeIn">
                    <div class="col-12 col-lg-4">
                        <h1>Clínica de consulta externa.</h1>
                        <p>En nuestras instalaciones podrás ser atendido por especialistas en: ginecología, cirugía general, médico general, internistas y médico de familia.<br><br>
                            Cada uno de ellos podrá diagnosticar la enfermedad, tratarla e incluso referirte a otro especialista en dado caso sea necesario. Cada uno del personal se encuentra totalmente capacitado para que seas atendido en las mejores manos.<br><br>
                            Para pasar consulta, deberás realizarlo con previa cita, especialmente en el área de ginecología.<br><br>
                            No puedes estar en mejores manos que en las de nuestros médicos y especialistas.</p>
                    </div>
                    <div id="img" class="col-12 col-lg-8">
                        <img class="_shadow-bg-light-l" src="/img/servicios/Consulta_externa.jpeg" alt="Consulta_externa">
                    </div>
                </div>

        </div>
    </div>

    <script>

        setTimeout(() => {
            _linkActive("._link-consulta", "._link-servicios");
        }, 500);

    </script>