    {{>head
        con = "false"
        banner="/img/fondo-parcial-img-1.jpg"
        text1="servicios"
        text2="Laboratorio Clínico."
        section="servicios"
    }}

    <div id="servicios" class="container-fluid">
        <div class="container">

                <div id="u-emergencias" class="row animalo" data-animate-effect="fadeIn">
                    <div class="col-12 col-lg-4">
                        <h1>Laboratorio Clínico</h1>
                        <p>Contamos con una unidad de apoyo, laboratorio clínico que le permite a los pacientes de consulta externa la comodidad de tomarse los exámenes que el médico le ha indicado sin salir de nuestras instalaciones, y a los pacientes ingresados se le toman sus exámenes en el momento que el médico indique realizárselos. Hay un servicio de exámenes de laboratorio las 24 horas.</p>
                    </div>
                    <div id="img" class="col-12 col-lg-8">
                        <img class="_shadow-bg-light-l" src="/img/servicios/Laboratorio_clinico.jpeg" alt="Laboratorio_clinico">
                    </div>
                </div>

        </div>
    </div>

    <script>

        setTimeout(() => {
            _linkActive("._link-laboratorio", "._link-servicios");
        }, 500);

    </script>