    <section id="specialities-section" class="container-fluid" style="background-image: url(/img/especialidades/especialities-bg.jpg);">
        <div class="section__header">
            <h2 class="section__title">Nuestras Especialidades</h2>
            <p class="section__icon" data-animate-effect="fadeIn"> --^⌄⌃⌄-- <i class="fas fa-user-md"></i> --⌄⌃⌄^-- </p>
            <h3 class="section__subtitle pb-4">Te ofrecemos una variedad de Especialidades</h3>
        </div>
    
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 d-flex justify-content-center">
    
                <div class="col">
                    {{>card-with-img
                        img="/img/especialidades/cirugia_500.jpg"
                        text1="Cirugía General"
                        text2="Contamos con todo lo necesario para realizar cirugías generales, con la técnica convencional como: apéndice, vesículas, hernias inguinales y umbilicales ..."
                        url="/especialidades/cirugia-general"
                        value="Leer más"
                    }}
                </div>

                <div class="col">
                    {{>card-with-img
                        img="/img/especialidades/ginecologia_500.jpg"
                        text1="Ginecología y Obstetricia"
                        text2="Nuestra mayor experiencia se ha desarrollado en estas ramas de la salud, en nuestras instalaciones se puede atender los casos de cirugía ginecológica como: ..."
                        url="/especialidades/ginecologia-obstetricia"
                        value="Leer más"
                    }}
                </div>
        
                <div class="col">
                    {{>card-with-img
                        img="/img/especialidades/urologia_500.jpg"
                        text1="Cirugía Urológica"
                        text2="Convencido de aportar el mejor servicio de salud a nuestros pacientes, Hospital Farela ya cuenta con el nuevo método de vaporización TURis por plasma ..."
                        url="/especialidades/cirugia-urologica"
                        value="Leer más"
                    }}
                </div>

                <div class="col">
                    {{>card-with-img
                        img="/img/especialidades/cirugia_500.jpg"
                        text1="Cirugía Oncológica"
                        text2="Manejo y prevencion de cáncer ginecologico, enfermedades y cáncer de mama: biopsia de mama y mastectomías, cirugía conservadora por cáncer de mama ..."
                        url="/especialidades/cirugia-oncologica"
                        value="Leer más"
                    }}
                </div>

                <div class="col">
                    {{>card-with-img
                        img="/img/especialidades/ortopeda_500.jpg"
                        text1="Cirugía Ortopédica"
                        text2="Podemos atenderle casos de cirugía ortopédica como: artroscopía, prótesis de cadera y de rodilla, cirugía de manguito rotador ..."
                        url="/especialidades/cirugia-ortopedica"
                        value="Leer más"
                    }}
                </div>
            
            </div>
    
        </div>
    </section>