    <section id="qualities-section" class="container-fluid">

        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4 g-xl-3 d-flex justify-content-center">

                <div class="col">
                    {{>card-not-img 
                        icon="fas fa-user-md"
                        text1="Espiritu de servicio"
                        text2="En Hospital Farela servimos con alegría, prontitud, amor y calidad humana a los integrantes de cada familia estando atentos a cada una de sus necesidades y así poder ofrecer un servicio medico hospitalario de calidad con una atención especializada."
                    }}
                </div>

                <div class="col">
                    {{>card-not-img 
                        icon="fas fa-users"
                        text1="Trabajo en quipo"
                        text2="Establecemos un ambiente de suma confianza, solidaridad, honestidad y humanismo con cada uno de los integrantes de nuestro equipo hospitalarios, con el fin de poner brindar una atención medica de calidad, especializada e integral."
                    }}
                </div>

                <div class="col">
                    {{>card-not-img 
                        icon="fas fa-hand-holding-heart"
                        text1="Lealtad"
                        text2="Lealtad y compromiso en los principios éticos de los profesionales de la Salud."
                    }}
                </div>

            </div>
        </div>
    
    </section>