    <section id="nosotros-section" class="container-fluid">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 g-3 g-lg-5 g-xl-3">
                <div class="col d-flex justify-content-end">
                    <div class="foto-contenedor animalo" data-animate-effect="fadeInLeft">
                        <div class="foto _shadow-bg-light-m">
                            <img class="_shadow-bg-light-l" src="/img/doctora.jpeg" alt="doctora">
                        </div>
        
                    </div>
                </div>
                <div class="col d-flex">
                    <div class="texto p-3 animalo" data-animate-effect="fadeInRight">
                        <h2 class="display-4">Sobre Nosotros</h2>
                        <p class="display-7">Somos un hospital con más de 29 años de experiencia, que surgió de la idea de dos médicos visionarios quienes con mucho trabajo, dedicación y confianza en Dios fundaron esta institución, con el fin de prestar servicios hospitalarios con calidad técnica y humana al gremio médico y a la población en general.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>