    <section class="parallax__container">

        <div class="mask _shadow-bg-light-i-t">
            <div class="container text-white">
                <div class="contenido _shadow-bg-light-l animalo" data-animate-effect="fadeInUp">
                <!-- <div class="contenido _shadow-bg-light-l"> -->
                    <h2>Servicio, Prontitud y Dedicación</h2>
                    <p>En nuestra institucion, nuestro lema siempre ha sido es SERVIRTE con PRONTITUD y mucha DEDICACIÓN.</p>
                </div>
            </div>
        </div>

        <div class="parallax"></div>

    </section>