    {{>head
        con = "true"
        banner="/img/fondo-parcial-img-2.jpg"
        text1="Hospitalización"
        text2="Habitaciones, estadía, proceso de ingreso y salida."
        section="center"
    }}

    <div id="hospitalizacion" class="container-fluid">
        <div class="container">
    
            <div class="block-1">
    
                <div class="estadia__container">
                    <div class="estadia__img _shadow-bg-light-l animalo" data-animate-effect="fadeInUp">
                        <img class="_shadow-bg-light-l" src="/img/hospitalizacion/Estadia.jpg" alt="estadia">
                        <div class="title">
                            <h2>Estadía</h2>
                        </div>
                        <div class="description">
                            <p>El paciente permanece ingresado durante el tiempo que indique el médico tratante, la rutina del día hospitalario comienza desde la hora del baño, el cumplimiento de medicamentos según sea las indicaciones médicas respetando las horas que el médico indique en el expediente, el servicio de los tiempos de comida, de acuerdo a la dieta que haya indicado el médico tratante. Existe un médico de planta en el hospital quien está pendiente de todos los pacientes ingresados monitoreando el estado de los mismos.</p>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div class="block-2">
    
                <div id="habitaciones" class="row pb-5 mb-5 animalo" data-animate-effect="fadeIn">
                    <div class="col-12 col-lg-4">
                        <h2>Habitaciones</h2>
                        <p>Contamos con habitaciones equipadas con aire acondicionado, televisión por cable, ducha caliente, sofá cama para familiares o acompañantes de los pacientes. Todas las habitaciones son individuales, divididas en dos tipos: la habitación delux y la habitación estándar, la diferencia entre ambas es que la habitación delux tiene un mayor tamaño y estéticamente finos acabados.</p>
                        <a href="/gallery/habitaciones" class="btn btn-primary mb-3">Galeria de Fotos</a>
                    </div>
                    <div id="img" class="col-12 col-lg-8 order-lg-first">
                        <img class="_shadow-bg-light-l" src="/img/hospitalizacion/habitaciones/A/A-1.jpg" alt="salida">
                    </div>
                </div>
        
                <div id="ingreso" class="row pb-5 mb-5 animalo" data-animate-effect="fadeIn">
                    <div class="col-12 col-lg-4">
                        <h2>Proceso de Ingreso</h2>
                        <p>Para cirugías programadas por médicos, el médico debe llamar al hospital para reservar el quirófano y estipular la hora en que se realizará la cirugía. El paciente ingresa al hospital con una hoja de indicaciones emitida por el médico tratante que entrega en la estación de enfermería, donde de igual forma brinda sus datos para la elaboración del expediente, posteriormente le es asignada una habitación donde es preparada por la enfermera de planta para el momento de la cirugía.</p>
                        <a href="/gallery/salida" class="btn btn-primary mb-3">Galeria de Fotos</a>
                    </div>
                    <div id="img" class="col-12 col-lg-8">
                        <img class="_shadow-bg-light-l" src="/img/hospitalizacion/ingreso/ingreso-1.jpg" alt="ingreso">
                    </div>
                </div>
        
                <div id="salida" class="row animalo" data-animate-effect="fadeIn">
                    <div class="col-12 col-lg-4">
                        <h2>Proceso de Salida</h2>
                        <p>El paciente cuando ya ha cumplido el tiempo de hospitalización y el médico tratante firma el alta, se informa a administración para la emisión de la cuenta y se le informa al paciente su estado de cuenta para que pueda pasar a caja a cancelar, una vez la cuenta ha sido cancelada, el paciente puede retirarse de las instalaciones del hospital.</p>
                    </div>
                    <div id="img" class="col-12 col-lg-8 order-lg-first">
                        <img class="_shadow-bg-light-l" src="/img/hospitalizacion/Proceso_de_salida.jpg" alt="salida">
                    </div>
                </div>
    
            </div>
    
    
        </div>
    </div>

    <script>

        setTimeout(() => {
            _linkActive("._link-hospitalizacion");
        }, 500);

    </script>