<section id="specialities-section" class="container-fluid" style="background-image: url(/img/especialidades/especialities-bg.jpg);">
        {{!-- <div class="section__header">
            <h2 class="section__title">Nuestras Especialidades</h2>
            <p class="section__icon" data-animate-effect="fadeIn"> --^⌄⌃⌄-- <i class="fas fa-user-md"></i> --⌄⌃⌄^-- </p>
            <h3 class="section__subtitle pb-4">Te ofrecemos una variedad de Especialidades</h3>
        </div> --}}
    
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 d-flex justify-content-center">
    
                <div class="col">
                    {{>card-with-img
                        img="/img/blog/img-art01.jpg"
                        text1="Cuidado del recién nacido para padres primerizos."
                        text2="De las principales recomendaciones para el cuidado del recién nacido está el cuidado del cordón umbilical, pero ¿cómo podemos cuidarlo?. Para cuidarlo debemos seguir los siguientes pasos."
                        url="/blog/articulo-01"
                        value="Leer más"
                    }}
                </div>

                <div class="col">
                    {{>card-with-img
                        img="/img/blog/img-art02.jpg"
                        text1="Tamizaje Neonatal."
                        text2="Es una prueba de laboratorio que debe realizarse a todo recién nacido para identificar a aquellos que están en riesgo de pade- cer desórdenes metabólicos serios que son tratables, pero que no son visibles al momento de su nacimiento."
                        url="/blog/articulo-02"
                        value="Leer más"
                    }}
                </div>
            
            </div>
    
        </div>
    </section>