        <div class="Card d-flex flex-column _shadow-bg-light-l p-4 border bg-light animalo" data-animate-effect="fadeInUp">
            <div class="card--head d-flex align-items-center">
                <i class="icon {{icon}}"></i>
                <h3>{{text1}}</h3>
            </div>
            <div class="mt-3 text2">
                <p>{{text2}}</p>
            </div>
            <div class="mt-3 text3 mt-auto">
                <h5>{{text3}}</h5>
            </div>

        </div>