		<section class="insta-feed">
			<div class="container">
				<script src="https://apps.elfsight.com/p/platform.js" defer></script>
				<div class="elfsight-app-32101202-3f6f-488b-89b8-b226ba59cbb1"></div>
			</div>
		</section>