		<section class="insta-feed">
			<div class="container">
				<script src="https://apps.elfsight.com/p/platform.js" defer></script>
				<div class="elfsight-app-295e0446-d603-407e-9d86-dd98e0ca3911"></div>
			</div>
		</section>