        <section id="footer" class="container-fluid">
            <div class="mask"></div>
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
        
                    <div class="col _col-1">
                        <div class="block-1 m-auto" style="max-width:320px;">
                            <div class="logo">
                                <div class="logo__text1">
                                    <p class="display-6">Hospital</p>
                                </div>
                                <div class="logo__text2">
                                    <h2 class="display-5">Farela</h2>
                                </div>
                            </div>
                            <p>Somos un hospital con más de 27 años de experiencia, prestando servicios hospitalarios con calidad técnica y humana al gremio médico y a la población en general.</p>
                            <div class="icons text-center">
                                <a href="https://www.facebook.com/HospitalFarela/" target="blank">
                                    <!--<i class="fab fa-facebook-square"></i>-->
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://twitter.com/hospitalfarela" target="blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UC59V4mwVQq-nm03PrVQXCuQ" target="blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a href="https://www.instagram.com/hospital_farela" target="blank">
                                    <i class="fab fa-instagram"></i>
                                    <!--<i class="fab fa-instagram-square"></i>-->
                                </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col _col-2">
                        <div class="block-2 m-auto" style="width:180px;">
                            <h4>Links</h4>
                            <ul>
                                <li><a href={{link1}} >- Inicio</a></li>
                                <li><a href={{link2}} >- Conócenos</a></li>
                                <li><a href={{link3}} >- Hospitalización</a></li>
                                <li><a href={{link4}} >- Contáctanos</a></li>
                            </ul>
                        </div>
                    </div>
        
                    <div class="col _col-3">
                        <div class="block-3 m-auto" style="width:270px;">
                            <h4>Contáctanos</h4>
                            <div class="info__locatio d-flex">
                                <div class="info__location__icon mx-3">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div><p>info@hospitalfarela.com.sv</p></div>
                            </div>
                            <div class="icon-locatio">
                                <div class="info__locatio d-flex">
                                    <div class="info__location__icon mx-3">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div><p>27 Av. Nte #1317 San Salvador, El Salvador</p></div>
                                </div>
                            </div>
                            <div class="icon-locatio">
                                <div class="icon-locatio">
                                    <div class="info__locatio d-flex">
                                        <div class="info__location__icon mx-3">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div><p>PBX 2225-2133 / 2513-3771</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="col _col-4">
                        <div class="block-4 m-auto" style="width:270px;">
                            <h4>Ultimos artículos</h4>
                            <a href="/blog/articulo-02">
                                <div class="art">
                                    <div class="img img-1"></div>
                                    <div class="caption">
                                        <p class="titulo">Tamizaje Neonatal.</p>
                                        <p class="autor">Dra. Roxana Tobar Hércules</p>
                                        <p class="fecha">Marzo 1, 2022</p>
                                    </div>
                                </div>
                            </a>
                            <a href="/blog/articulo-01">
                                <div class="art">
                                    <div class="img img-2"></div>
                                    <div class="caption">
                                        <p class="titulo">Cuidado del recién nacido para padres primerizos.</p>
                                        <p class="autor">Dra. Roxana Tobar Hércules</p>
                                        <p class="fecha">Marzo 1, 2022</p>
                                    </div>
                                </div>
                            </a>
                            {{!-- <div class="art">
                                <div class="img img-3"></div>
                                <div class="caption">
                                    <p>Texto de informacion de la publicacion ...</p>
                                </div>
                            </div> --}}
                            
                        </div>
                    </div>
        
                </div>
                <hr class="text-white" />
                <div class="text-center">
                    <span class="copyright text-center">Design 2U - Octubre 2021.</span>
                </div>
            </div>
        </section>