<div class="slider__section" style="background-image:url('{{img}}');">
    <img src="{{img}}" alt="" class="slider__img">
    <div class="slider__caption">
        <h2 class="_shadow-bg-light-l animated fadeInDown hidden" data-animate-effect="fadeInDown">{{text1}}</h2>
        <p class="_shadow-bg-light-l animated fadeInUp hidden" data-animate-effect="fadeInUp">{{text2}}</p>
    </div>
</div>