<div class="col pb-3 animalo d-flex justify-content-center" data-animate-effect="fadeInUp">
    <a href="{{_url}}" class="venobox" data-gall={{galleryName}}>
        <img src="{{_url}}" class="img-fluid card sombra _shadow-bg-light-l"/>
    </a>
</div>