        <nav id="nav-bar" class="navbar navbar-expand-lg navbar-light bg-light _shadow-bg-light-b border-top">

            <div class="container">
                <!-- <a use:link class="navbar-brand" href="/"><h3>Hospital Farela</h3></a> -->
                <a class="navbar-brand" href="/">

                    <div class="logo">
                        <img class="logo-img" src="/img/logo/Farela-Logo-horizontal.png" alt="logo">
                        {{!-- <div class="text1">
                            <p class="display-6">Hospital</p>
                        </div>
                        <div class="text2">
                            <h2 class="display-5">Farela</h2>
                        </div> --}}
                    </div>
                </a>
                <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul id="navbar" class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link _link-inicio" aria-current="page" href="/">Inicio</a>
                            <!-- <NavLink class="nav-link _link" aria-current="page" href="/">Inicio</NavLink> -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link _link-conocenos" href="/conocenos">Conócenos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link _link-prenatal" href="/planes-prenatales">Planes Prenatales</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link _link-servicios dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Servicios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item _link-emergencias" href="/servicios/unidad-de-emergencias">Unidad de emergencias</a></li>
                                <li><a class="dropdown-item _link-quirofanos" href="/servicios/quirofanos">Quirófanos</a></li>
                                <li><a class="dropdown-item _link-nurseria" href="/servicios/nurseria">Nursería</a></li>
                                <li><a class="dropdown-item _link-recien" href="/servicios/cuidados-intensivos-recien-nacido">Cuidados intensivos al recién nacido</a></li>
                                <li><a class="dropdown-item _link-recuperacion" href="/servicios/unidad-de-recuperacion">Unidad de recuperación</a></li>
                                <li><a class="dropdown-item _link-consulta" href="/servicios/clinica-consulta-externa">Clínica de consulta externa</a></li>
                                <li><a class="dropdown-item _link-ultra" href="/servicios/ultrasonografia">Ultrasonografía</a></li>
                                <li><a class="dropdown-item _link-parto" href="/servicios/unidad-parto-en-agua">Unidad de parto en agua</a></li>
                                <li><a class="dropdown-item _link-laboratorio" href="/servicios/laboratorio-clinico">Laboratorio clínico</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link _link-hospitalizacion" href="/hospitalizacion">Hospitalización</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link _link-especialidades dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Especialidades
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item _link-general" disabled href="/especialidades/cirugia-general">Cirugía general y videolaparoscópica</a></li>
                                <li><a class="dropdown-item _link-ginecologia" href="/especialidades/ginecologia-obstetricia">Ginecología y Obstetricia</a></li>
                                <li><a class="dropdown-item _link-urologica" href="/especialidades/cirugia-urologica">Cirugía urológica</a></li>
                                <li><a class="dropdown-item _link-oncologica" href="/especialidades/cirugia-oncologica">Cirugía oncológica</a></li>
                                <li><a class="dropdown-item _link-ortopedica" href="/especialidades/cirugia-ortopedica">Cirugía ortopédica</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link _link-blog" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link _link-contacto" href="/contactanos">Contáctanos</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>