    {{>head
        con = "false"
        banner="/img/fondo-parcial-img-3.jpg"
        text1="Especialidad"
        text2="Cirugía general y videolaparoscópica."
        section="especialidades"
    }}

    <div id="cirugia-general" class="container-fluid">
        <div class="container">
    
            <p class="parrafo-1 animalo" data-animate-effect="fadeIn">
                Contamos con todo lo necesario para realizar cirugías generales, con la técnica convencional como: apéndice, vesículas, hernias inguinales y umbilicales, hemorroides, tiroides, lipomas, cirugía de venas, ligadura de varices, cirugía de estómago, colon y recto. Y con la técnica laparoscópica las cirugías de apéndice, vesículas y hernias. Contamos con todos los equipos para realizar este tipo de cirugías, una torre de laparoscopia completa, un área de quirófano totalmente equipado que brinda las condiciones de seguridad y comodidad para realizar los procedimientos quirúrgicos.
            </p><br>
            
            <img class="_shadow-bg-light-l animalo" data-animate-effect="fadeInLeft" src="/img/especialidades/cirugia_general.jpg" alt="Cirugía general">
    
            <h2 class="title animalo" data-animate-effect="fadeIn">
                Tecnología de punta
            </h2>
    
            <p class="parrafo-2 animalo" data-animate-effect="fadeIn">
                Innovando para el beneficio de nuestros pacientes, el Hospital Farela cuenta con tecnología de punta en cirugías Laparoscópicas, con la nueva torre Stryker.<br><br>
                Esta torre cuenta con un monitor de alta resolución. Su cámara de alta definición tiene características de grabación y edición de video, asimismo permite tomar fotografías. Está equipada ya no con luces de xenón, sino iluminación led, que permite trabajar en espacios pequeños con luz suficiente.<br><br>
                La ventaja primordial de este nuevo equipo, es que en aquellos momentos cuando una cirugía se complica, con su alta definición del monitor, el cirujano no perderá detalle del procedimiento respectivo.<br><br>
                Posibilita realizar cirugías avanzadas como: hernia de hiato, colon por video, manga gástrica, bypass gástrico, baso, etc. El beneficio clave para el paciente es que su cirugía sea completada sin problemas por vía laparoscópica y que ante cualquier dificultad el médico pueda resolverlo por esta misma vía.<br><br>
            </p>
    
        </div>
    </div>

    <script>

        setTimeout(() => {
            _linkActive("._link-general", "._link-especialidades");
        }, 500);

    </script>