    {{>head
        con = "false"
        banner="/img/fondo-parcial-img-3.jpg"
        text1="Especialidad"
        text2="Ginecológica y Obstetricia."
        section="especialidades"
    }}

    <div id="ginecologia" class="container-fluid">
        <div class="container">
    
            <img class="_shadow-bg-light-l animalo" data-animate-effect="fadeInUp" src="/img/especialidades/ginecologia-2_500.jpg" alt="Ginecología">
    
            <p class="parrafo-1 animalo" data-animate-effect="fadeIn">
                Nuestra mayor experiencia se ha desarrollado en estas ramas de la salud, en nuestras instalaciones se puede atender los casos de cirugía ginecológica como: Extirpación de tumores de mamas, biopsias de mama, histerectomías abdominales y vaginales, Legrado, Laparotomía, Marzupialización, Cura de Cistocele, Cura de Rectocele, Extirpación de quistes de Ovario, Miomectomía, Cono Loop, Ginecomastia, Histeroscopía.<br><br>
                Y en la rama de Obstetricia estamos completamente preparados para atender partos naturales, y cesáreas, además contamos con la atención de partos en agua, una técnica novedosa y somos el único hospital en el país que presta este servicio. Tenemos a disposición de nuestros pacientes planes prenatales económicos que le permitirán poder programarse para el recibimiento de su bebe.
            </p>
    
        </div>
    </div>

    <script>

        setTimeout(() => {
            _linkActive("._link-ginecologia", "._link-especialidades");
        }, 500);

    </script>