    {{>head
        con = "false"
        banner="/img/fondo-parcial-img-3.jpg"
        text1="Especialidad"
        text2="Cirugía Urológica."
        section="especialidades"
    }}

    <div id="cirugia-urologica" class="container-fluid">
        <div class="container">
    
            <p class="parrafo-1 animalo" data-animate-effect="fadeIn">
                En nuestras instalaciones pueden realizarse cirugías urológicas como: RTU (Resección Transuretral de Próstata), Vasectomías, Cistoscopias, Circuncisiones, Orquectomias, Uteroscopias, Medicina y cirugía de las vías urinarias, Riñón, Próstata, Vejiga, Cálculos, incontinencia urinaria, Vejiga hiperactiva y baja.<br><br>
                Además contamos con un novedoso equipo de electrocirugía marca Olympus para realizar RTU (Resección Transuretral de Próstata) que permite un menor sangrado, que posee la propiedad de resecar y vaporizar tejido prostático, minimiza la estancia hospitalaria, minimiza sintomatología miccional: ardor al orinar, acudir al baño frecuentemente.
            </p><br>
            
            <img class="_shadow-bg-light-l animalo" data-animate-effect="fadeInLeft" src="/img/especialidades/cirugia_urologica.jpg" alt="Cirugía Urológica">
    
            <h2 class="title animalo" data-animate-effect="fadeIn">
                Vaporización del tejido prostático
            </h2>
    
            <p class="parrafo-2 animalo" data-animate-effect="fadeIn">
                Convencido de aportar el mejor servicio de salud a nuestros pacientes, Hospital Farela ya cuenta con el nuevo método de vaporización TURis por plasma. La mejor opción quirúrgica para combatir la Hiperplasia Prostática Benigna.
            </p><br>
    
            <h4 class="title animalo" data-animate-effect="fadeIn">
                ¿Cuál es el procedimiento de la vaporización por plasma?
            </h4>
    
            <p class="parrafo-3 animalo" data-animate-effect="fadeIn">
                La aplicación de energía de alta frecuencia bipolar, produce una capa de gas (corona de plasma) alrededor del electrodo. Con la técnica de deslizamiento de la corona sobre el tejido, lo vaporiza aún sin tener contacto directo, esto gracias a que la energía de plasma se transfiere a las células del tejido prostático.<br><br>
                La eficacia de este método permite dejar una superficie suave y prácticamente sin hemorragias. Ante esto, es la principal opción para los hombres ya que además permite una mayor comodidad.
            </p>
    
        </div>
    </div>

    <script>

        setTimeout(() => {
            _linkActive("._link-urologica", "._link-especialidades");
        }, 500);

    </script>