    {{>head
        con = "false"
        banner="/img/fondo-parcial-img-3.jpg"
        text1="Especialidad"
        text2="Cirugía Oncológica."
        section="especialidades"
    }}

    <div id="cirugia-oncologica" class="container-fluid">
        <div class="container">
    
            <img class="_shadow-bg-light-l animalo" data-animate-effect="fadeInUp" src="/img/especialidades/cirugia_oncologica.jpg" alt="Oncología">
    
            <p class="parrafo-1 animalo" data-animate-effect="fadeIn">
                Manejo y prevencion de cáncer ginecologico, enfermedades y cáncer de mama:
            </p>
    
            <ul>
                <li class="parrafo-1 animalo" data-animate-effect="fadeInRight">Biopsia de Mama y Mastectomías</li>
                <li class="parrafo-1 animalo" data-animate-effect="fadeInRight">Cirugía Conservadora por cáncer de mama</li>
                <li class="parrafo-1 animalo" data-animate-effect="fadeInRight">Cirugía Plástica de las mamas</li>
            </ul>
    
        </div>
    </div>

    <script>

        setTimeout(() => {
            _linkActive("._link-oncologica", "._link-especialidades");
        }, 500);

    </script>