    {{>head
        con = "false"
        banner="/img/fondo-parcial-img-3.jpg"
        text1="Especialidad"
        text2="Cirugía Ortopédica."
        section="especialidades"
    }}

    <div id="cirugia-ortopedica" class="container-fluid">
        <div class="container">
    
            <img class="_shadow-bg-light-l animalo" data-animate-effect="fadeInUp" src="/img/especialidades/cirugia_ortopedica_500.jpg" alt="Ortopedia">
    
            <p class="parrafo-1 animalo" data-animate-effect="fadeIn">
                Podemos atenderle casos de cirugía ortopédica como:
            </p>
    
            <ul>
                <li class="parrafo-1 animalo" data-animate-effect="fadeInRight">Artroscopía</li>
                <li class="parrafo-1 animalo" data-animate-effect="fadeInRight">Prótesis de cadera y de rodilla</li>
                <li class="parrafo-1 animalo" data-animate-effect="fadeInRight">Cirugía de Manguito Rotador</li>
                <li class="parrafo-1 animalo" data-animate-effect="fadeInRight">Fractura de hueso humero</li>
                <li class="parrafo-1 animalo" data-animate-effect="fadeInRight">Puesta de tornillos</li>
                <li class="parrafo-1 animalo" data-animate-effect="fadeInRight">Cerclaje de hombros</li>
            </ul>
    
        </div>
    </div>

    <script>

        setTimeout(() => {
            _linkActive("._link-ortopedica", "._link-especialidades");
        }, 500);

    </script>