<section id="galeria-habitaciones" class="container-fluid">
    <div class="container my-5 pb-3">

        <h2 Class="h2 text-center titulo-seccion animalo" data-animate-effect="fadeIn">Ingreso</h2>
        <br/>

        <div id="info" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 d-flex justify-content-center">

            {{>item-gallery
                galleryName="ingreso"
                _url="/img/hospitalizacion/ingreso/ingreso-1.jpg"
            }}
            {{>item-gallery
                galleryName="ingreso"
                _url="/img/hospitalizacion/ingreso/ingreso-2.jpg"
            }}
            {{>item-gallery
                galleryName="ingreso"
                _url="/img/hospitalizacion/ingreso/ingreso-3.jpg"
            }}
            {{>item-gallery
                galleryName="ingreso"
                _url="/img/hospitalizacion/ingreso/ingreso-4.jpg"
            }}
            {{>item-gallery
                galleryName="ingreso"
                _url="/img/hospitalizacion/ingreso/ingreso-5.jpg"
            }}

        </div>

        <a href="/hospitalizacion" class="btn btn-primary mt-5 animalo" data-animate-effect="fadeIn">REGRESAR</a>

    </div>
</section>